.card{
  margin-top: 100px;
  background-color:  var(--DarkGrey) ;
  border-color: rgb(134, 122, 122);
  align-items: center;
  border-radius: 6px;
  padding: 10px 5px;
  overflow: hidden;
  margin-bottom:400px;
  display:flex;
  flex-direction: column;
}

@media (min-width: 376px) {
  .card{
       margin-top: 90px;
       scale: 1.2;
  }
 }