.carta{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  margin-top: 100px;

}

@media(max-width:375px){
    .carta{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
}
